/* tablist depends on border-box */
.tablist,
.tablist > nav,
.tablist-tab,
.tablist-container,
.tablist-panel,
.tablist-backward-button,
.tab-position-indicator,
.tablist-forward-button {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* indicates the position of the current tab */
.tab-position-indicator {
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 1em;
  color: #666;
  left: 50%;
  margin-left: -30px;
  opacity: 1;
  padding: 1px;
  position: absolute;
  text-align: center;
  text-shadow: 0 1px 0 #fff;
  top: 30px;
  visibility: visible;
  width: 60px;
  z-index: 1;
}

/* container */
.tablist {
  margin: 1em 0 0;
  position: relative;

  /* hides the tab-position-indicator */
  span.fade {
    transition-delay: .75s, 1s;
    transition-duration: .25s, 0s;
    transition-property: opacity, visibility;
    transition-timing-function: ease-out, linear;
    opacity:0;
    /* collapse so tab-position-indicator is not blocking clickable content */
    visibility: collapse;
  }

  > .tablist-container {
    background: #f9f9f9;
    border-top: 1px solid #ddd;
    overflow: hidden;
    padding: 0 34px;
    width: 100%;

    /* nav with tabs */
    > nav {
      bottom: 1px;
      display: block;
      line-height:  1.5;
      position: relative;
      white-space: nowrap;
      z-index: 1;

      &.smooth {
        transition: all 0.3s ease-in-out;
      }

      > .tablist-tab-selected {
        box-shadow: none;

        /* removes the bottom border allowing the tab to flow into the content */
        &:after {
          background-color: #fff;
          bottom: 0;
          content: '';
          height: 2px;
          left: 0;
          margin-bottom: -1px;
          position: absolute;
          width: 100%;
          z-index: 1;
        }
      }
    }

    /* clear after floating contents */
    &:after {
      clear: both;
      content: '';
      display: block;
    }

    img {
      max-width: 100%;
    }
  }
}


/* tab buttons */
.tablist-tab {
  background: #ededed;
  border-right: 1px solid #ddd;
  color: #333;
  cursor: pointer;
  display: inline-block;
  height: 40px;
  padding: 0.5em 1em;
  user-select: none;
  text-shadow: 0 1px 1px #fff;

  &:first-child {
    border-left: 1px solid #ddd;
  }

  &:focus {
    outline: none;
  }

  &:hover {
    text-decoration: underline;
  }
}

/* selected */
.tablist-tab-selected {
  background: #fff;
  color: #000;
  position: relative;

  &:focus {
    color: #000;
    text-decoration: underline;
  }

  &:hover {
    text-decoration:none;
  }
}


/* tab content */
.tablist-panel {
  border: 1px solid #ddd;
  /* hide by default */
  display: none;
  margin-bottom: 8px;
  padding: 0 1em 1em;
  position: relative;
  top: -1px;

  /* keep images from breaking tablist container */
  img {
    max-width: 100%;
  }
}

/* show the selected panel */
.tablist-panel-selected {
  display: block;
}

.tablist-backward-button,
.tablist-forward-button {
  background: #fff;
  border: 1px solid #ddd;
  cursor: pointer;
  display: block;
  height: 41px;
  position: absolute;
  top: 0;
  width: 35px;
  z-index: 10;

  > .image {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEIAAABOCAYAAACUlsCTAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAH5JREFUeNrs2UENgDAQRcENCpBQCUjDEZIqBQmwB0gawo0T2ZnkG3jppW0EAAAAAAAAb5oEEVtuzy3VIxzXysZYhwilY8y5LoYYYoghhhhiiCGGGDViTC7FToMIIogggggiiCCCCH/jOX/gg+cRo3yEW5MAAAAAAADgm1OAAQAnKpPP/4VJ5gAAAABJRU5ErkJggg==);
    background-position: 0;
    background-repeat: no-repeat;
    background-size: 33px 39px;
    bottom: 0;
    left: 0;
    opacity: 0.6;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 3;
  }

}

.tablist-backward-button {
  box-shadow: 3px 0 1px rgba(0,0,0,0.07);
  left: 0;

  > .image {
    filter: FlipH;
    transform: scaleX(-1);
  }
}

.tablist-forward-button {
  box-shadow: -3px 0 1px rgba(0,0,0,0.07);
  right: 0;
}

@media print {
  .tablist-container,
  .tab-position-indicator,
  .tablist-forward-button,
  .tablist-backward-button {
    display: none;
  }

  .tablist-panel {
    border-color: #ddd;
  }
}
